<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Favorite Books</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

</head>

<body>
    <div id="container">
        <div id="header">
            <h1>Welcome, {{ user.first_name }}!</h1>
            <a href="/go_back">Go Back</a>
            <a href="/logout" name="logout">Logout</a>
        </div>
        <!--end of header-->

        <div id="main">

            <form class="col-6 p-4" action="/update_a_book/{{ book.id }}" method="post">
                {% csrf_token %}

                <input type="hidden" name="user_id" value="{{ user.id }}">

                {% if book.uploaded_by.id == user.id %}
                <div class="form-group">
                    <input name="update_book_title" type="text" value="{{ book.title }}" class="form-control">
                </div>
                {% endif %}

                {% if book.uploaded_by.id != user.id %}
                <h4>Title: {{ book.title }}</h4>
                {% endif %}

                <p>Added by: {{ book.uploaded_by.first_name }} {{ book.uploaded_by.last_name }}</p>

                <p>Added on: {{ book.created_at }}</p>

                <p>Last updated on: {{ book.updated_at }}</p>

                {% if book.uploaded_by.id == user.id %}
                <label>Description:</label>
                <textarea name="update_book_desc" rows="3" cols="37">{{ book.desc }}</textarea>
                {% endif %}

                {% if book.uploaded_by.id != user.id %}
                <p>Description: {{ book.desc }}</p>
                {% endif %}

                {% if book.uploaded_by.id == user.id %}
                <button type="submit" class="btn btn-primary">Update</button>

                <a href="/delete/{{ book.id }}" class="btn btn-danger" name="delete">Delete</a>
                {% endif %}

            </form>

            <div id="book_likes_list" class="col-6 p-4">
                <h3>Users Who Like This Book:</h3>
                
                {% for person in book.users_who_like.all %}
                <ul>
                    <li>{{ person.first_name }} {{ person.last_name }}
                    {% if person.id == user.id %}
                        <a href="/unfavorite/{{ book.id }}/{{ user.id }}">Unfavorite</a>
                    </li>
                    {% endif %}
                </ul>
                {% endfor %}

                {% for someone in book.users_who_like.all %}
                    {% if someone.id != user.id %}
                        <a href="/add_to_favorites/{{ book.id }}/{{ user.id }}" name="add_to_favorites">Add to Favorites</a>
                    {% endif %}
                {% endfor %}

            </div>

        </div>

    </div>
</body>

</html>